<a href="https://colab.research.google.com/github/BuiDaoGiaHuy/CS114.K21/blob/master/BTTH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Đọc dữ liệu

In [5]:
data=pd.read_csv('data.txt',header=None)
data

            0         1
0     4032139  1.200580
1     2055486  0.509774
2     5626651  1.476080
3       42065  0.007651
4     6297788  1.661560
...       ...       ...
5206  6600098  1.804520
5207  5339132  1.450310
5208  4794647  1.293070
5209  4440131  1.196530
5210  2033708  0.517288

[5211 rows x 2 columns]

Phân chia dữ liệu

In [0]:
x=data[0]
y=data[1]
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=0)
x_train=np.array(x_train).reshape(-1,1)
y_train=np.array(y_train).reshape(-1,1)
x_test=np.array(x_test).reshape(-1,1)

Xây dựng mô hình

In [0]:
model=LinearRegression().fit(x_train,y_train)

Đánh giá mô hình

In [10]:
print('training error:', mean_squared_error(y_train, model.predict(x_train), squared=False))
print('test error:', mean_squared_error(y_test, model.predict(x_test), squared=False))

training error: 0.04151877661720394
test error: 0.0442964909115032