<a href="https://colab.research.google.com/github/BuiDaoGiaHuy/CS114.K21/blob/master/KT3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bài 2**

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Đọc dữ liệu

In [99]:
data2=pd.read_csv('data2.txt', header=None)
data2

             0         1
0      6083695  0.521842
1      1954367  0.152648
2      3734185  0.298548
3      5839301  0.460480
4      6343427  0.527977
...        ...       ...
71110  4472112  0.350379
71111  5471895  0.429955
71112  9837364  0.801394
71113  9466593  0.776407
71114  4080801  0.314468

[71115 rows x 2 columns]

Phân chia dữ liệu

In [0]:
x2=data2[0]
y2=data2[1]

In [0]:

x2_train, x2_test, y2_train, y2_test=train_test_split(x, y, test_size=0.2, random_state=0)
x2_train=np.array(x2_train).reshape(-1,1)
y2_train=np.array(y2_train).reshape(-1,1)
x2_test=np.array(x2_test).reshape(-1,1)

Xây dựng model

In [0]:
model2=LinearRegression().fit(x2_train, y2_train)

Đánh giá mô hình

In [145]:
print('Train_error: ',mean_squared_error(y2_train, model.predict(x2_train), squared=False))
print('Test_error: ',mean_squared_error(y2_test, model.predict(x2_test), squared=False))

Train_error:  0.0118806278293825
Test_error:  0.012340579118497674

Predict cho 1 mẫu dữ liệu mới

In [91]:
n=int(input('Nhap n: '))
print('Predict: ', model.predict(np.array(n).reshape(1,1)))

Nhap n: 8765432
Predict:  [[0.72538002]]

**Bài 3**

Đọc dữ liệu mới

In [112]:
data3=pd.read_csv('data3.txt',header=None)
data3

              0        1
0      37837612  4.12166
1      37395246  3.92089
2      36610827  3.21540
3      29555651  2.54506
4      25928216  2.21831
...         ...      ...
10585  26872494  2.35117
10586  20753811  1.79155
10587  33520323  2.90918
10588  21243264  1.80292
10589  21380484  1.82795

[10590 rows x 2 columns]

In [0]:
x3=np.array(data3[0]).reshape(-1,1)
y3=data3[1]

Kết quả đánh giá tệ hơn trên dataset mới

In [151]:
a=mean_squared_error(y3, model2.predict(x3), squared=False)
print(a)

0.14367615159846545

Thêm features cho dữ liệu mới

In [127]:
data3p=pd.read_csv('data3p.csv')
data3p

              NlogN         N       logN    Time
0      9.524982e+08  37837612  25.173318  4.1216
1      9.407280e+08  37395246  25.156352  3.9208
2      9.198751e+08  36610827  25.125767  3.2150
3      7.334805e+08  29555651  24.816931  2.5450
4      6.385606e+08  25928216  24.628020  2.2183
...             ...       ...        ...     ...
10585  6.632031e+08  26872494  24.679627  2.3511
10586  5.044602e+08  20753811  24.306873  1.7915
10587  8.379589e+08  33520323  24.998533  2.9091
10588  5.170717e+08  21243264  24.340502  1.8029
10589  5.206103e+08  21380484  24.349791  1.8279

[10590 rows x 4 columns]

In [0]:
x3p=data3p[['NlogN','N','logN']]
y3p=data3p['Time']

Model mới

In [152]:
x3p_train, x3p_test, y3p_train, y3p_test=train_test_split(x3p, y3p, test_size=0.2, random_state=0)
model3=LinearRegression().fit(x3p_train, y3p_train)
b=mean_squared_error(y3p_test, model3.predict(x3p_test), squared=False)
print(b)

0.05458570021019165

Hiệu suất cải thiện của model mới so với model cũ

In [150]:
print(a/b)

2.6321207027704263